@font-face {
  font-family: wolfgang;
  src: url('fonts/Wolfgang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding-top: 0;
}

body {
  width: 100%;
  background-image: linear-gradient(25deg, #0b0b0d 10%, #535353 58%, rgb(155, 155, 155) 100%);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

ul {
  padding: 0%;
  margin: 0%;
}

.navbar {
  top: 0px;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;  
  background: #FCFCFC;
  color: rgb(0, 0, 0);
  padding: 20px 0px;
  letter-spacing: 3px;
  transition: top 0.3s;
}

.navlist {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}

.navlist li a {
  text-decoration: none;
  color: #0B0B0D;
  font-size: 14px;
}

.landing {
  display: block;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Full viewport height */
  position: relative;
}

#homeimage {
  position: absolute;
  width: 400px;
}

#familyName {
  font-family: 'wolfgang';
  font-weight: normal;
  position: absolute;
  display: flex;
  color: white;
  font-size: 800px;
  letter-spacing: 0px;
}

#nameInitials {
  position: absolute;
  display: flex;
  color: #0B0B0D;
  font-size: 300px;
}
