* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(11,11,13);
  background: linear-gradient(15deg, rgba(11,11,13,1) 0%, rgba(144,144,144,1) 69%, rgba(252,252,252,1) 100%);
  overflow: hidden; /* Hide the scrollbar on the body */
}

.wrapper {
  height: 100vh;
  overflow-y: scroll; /* Enable scrolling within the wrapper */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;  
  background: rgb(255, 127, 39);
  color: rgb(0, 0, 0);
  padding: 20px 0px;
  letter-spacing: 3px;
  top: 0px;
  z-index: 1000;
  transition: top 0.3s;
}

.navlist {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
}

.navlist li:first-child {
  text-align: left;
  margin-left: 20px;
}
.navlist li:nth-child(2){
  flex-grow: 1;
  text-align: center;
}

.navlist li:last-child {
  text-align: right;
  margin-right: 20px;
}

.navlist li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}